.gallery-intro {
	/*background-color: black;*/
    /*background: url("../img/gallery/gallery-intro.JPG") no-repeat center center; */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 200px;
}

.carousel-inner {
    overflow: hidden;
}

.carousel-inner p {
    margin-bottom: 60px;
}

.carousel-inner > .item > img {
    margin: 0 auto;
    display: block;
    margin-bottom: 5px;
}

.gallery {
	margin-bottom: 20px;
}

.graphic-gallery, .sketching-gallery {
	border-top: solid 1px #ddd;
}

.text {
    position: absolute;
    top: 80%;
    text-align: center;
    width: 96.66666666666666%;
    color: #fff;
}

.carousel-indicators li {
    border: 1px solid #80bfff;
}

.carousel-indicators .active {
    background-color: #80bfff;
}

.carousel-control.left, .carousel-control.right {
    background-image: none
}

.glyphicon-chevron-left, .glyphicon-chevron-right {
    color: #80bfff;
}
