/*.work-intro {
	background-color: black;
    background: url("../img/work/work-intro.JPG") no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 200px;
}*/
.work {
	margin-bottom: 30px;
}

.content-container {
	padding-left: 40px;
}

.work-item {
	margin-top: 20px;
	padding-top: 30px;
	border-top: 1px solid #fff;
}

.content-container h3 {
	margin-top: 0;
}

.work img {
	margin-bottom: 20px;
	border-radius: 20px;
	border: 3px solid rgba(255, 255, 255, 0);
	transition-duration: 1s;
}

.work img:hover {
	border-color: white;
}


@media screen and (max-width: 480px) {
	.work-item img {
		width: 180px;
		height: auto;
	}
}
