<section class="gallery">
  <div class="container text-center">
    <h1>My Gallery</h1>
    <p>I like graphic design and sketching. Here are some old work I have done.</p>
  </div>
</section>

<section class="graphic-gallery">
  <div class="container text-center">
    <h2>Graphic Design</h2>
  </div>
  <div>
    <uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
      <uib-slide ng-repeat="graphSlide in graphSlides track by graphSlide.id" index="graphSlide.id">
        <img ng-src="{{graphSlide.img}}" style="margin:auto;">
        <div>
          <p>{{graphSlide.text}}</p>
        </div>
      </uib-slide>
    </uib-carousel>
  </div>
</section>

<section class="sketching-gallery">
  <div class="container text-center">
    <h2>Sketching</h2>
    <p>All these were painted directly on T-shirt, they are wearable!</p>
  </div>

  <div>
    <uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
      <uib-slide ng-repeat="sketchSlide in sketchSlides track by sketchSlide.id" index="sketchSlide.id">
        <img ng-src="{{sketchSlide.img}}" style="margin:auto;">
        <div>
          <p>{{sketchSlide.text}}</p>
        </div>
      </uib-slide>
    </uib-carousel>
  </div>
</section>